/* MAIN GRID */
.main-grid-body{

	/* grid */
	display: flex;
	
}

/* ASIDE */


	.disclaimer-register{
        width: 50%;

		border-radius: 0 7rem 7rem 0;
		background-color: #D9D9D9;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		padding-right: 7rem;
		box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	}
		.disclaimer-upper-text, .disclaimer-lower-text, span{
			display: inherit;
			flex-direction: inherit;
			margin: 3rem 0 0 1rem;
		}
			.disclaimer-upper-text{
				font-size: 3rem;
				font-weight: 700;
			}
			.disclaimer-lower-text{
				margin-top: 6rem;
				font-weight: 400;
				font-size: 2rem;
			}
		.disclaimer-source-text{
			font-size: 2rem;
		}
	.GitHub{
		font-weight: 600;
		margin: 3rem;
	}

/* MAIN	*/
.main-start{
    height: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
	/* start button main */
	.start{
		display: flex;
		text-align: center;
		flex-direction: column;
	}
		.div-start-button #btn-register, .btn-div input{
			width: 25rem;
			height: 10rem;

			border-radius: 4rem;
			background: #FF7A00;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			transition: transform ease 0.5s, box-shadow ease 0.5s;

			border: none;
			font-size: 3rem;
			font-weight: 700;
			color: #fff;
		}
			.div-start-button #btn-register:hover, .btn-div input:hover{
				transform: translateY(-5px);
				box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
			}
		.login-portal{
			color: #FF7A00;
			font-size: 1.7rem;
			margin: 1.5rem;
		}

		/* absolutes divs enzo you are crazy */
		.registration-div, .login-div{
			position: absolute;
			background-color: #FF67F9;
			width: 70%;
			height: auto;

			transform: translateX(+100vw); 
			transition: 0.8s;

			border-radius: 4rem;
			z-index: 1;
			
			box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

			display: flex;
			flex-direction: column;
		}
		.inner-registration-div span, .login-div span{
				font-size: 3rem;
				font-weight: 600;
			}
			.inner-registration-div input, .inner-login-div input{ 
				width: auto;
				height: 3rem;
				color:rgb(50, 50, 50);
				padding: 1rem 1.5rem 1rem 1.5rem;
				font-size: 2.5rem;
				font-weight: 200;
				border-radius: 2.5rem;
				outline: 0;
				border: 0;
			
				background-color: #D9D9D9;
				box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
			}

		.registration-div, .login-div{

		}

			/* registration div */
			.registration-div.entry{
				transform: translateX(0);
				padding: 3rem;
			}
				.inner-registration-div{
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: row;
				}
			

			/* LOGIN DIV */
			.login-div{
				flex-direction: column;
				width: auto;
			}
				.login-div.entry{
					transform: translateX(0);
					padding: 3rem;
				}
				
			.login-div .btn-div{
				margin-top: 5rem;
			}


		/* inputs */
		.div-input{
			width: auto;
			margin-top: 2rem;
		}
		.input-group-left, .input-group-right{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}

		.btn-div{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
			.btn-div input{
				margin: 5rem 5rem 3rem 5rem;
			}
/* MAIN GRID */
.main-grid-body{

	/* grid */
	display: flex;
	
}

/* ASIDE */


	.disclaimer-register{
        width: 50%;

		border-radius: 0 7rem 7rem 0;
		background-color: #D9D9D9;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		padding-right: 7rem;
		box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	}
		.disclaimer-upper-text, .disclaimer-lower-text, span{
			display: inherit;
			flex-direction: inherit;
			margin: 3rem 0 0 1rem;
		}
			.disclaimer-upper-text{
				font-size: 3rem;
				font-weight: 700;
			}
			.disclaimer-lower-text{
				margin-top: 6rem;
				font-weight: 400;
				font-size: 2rem;
			}
		.disclaimer-source-text{
			font-size: 2rem;
		}
	.GitHub{
		font-weight: 600;
		margin: 3rem;
	}

/* MAIN	*/
.main-start{
    height: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
	/* start button main */
	.start{
		display: flex;
		text-align: center;
		flex-direction: column;
	}
		.div-start-button #btn-register, .btn-div input{
			width: 25rem;
			height: 10rem;

			border-radius: 4rem;
			background: #FF7A00;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			transition: transform ease 0.5s, box-shadow ease 0.5s;

			border: none;
			font-size: 3rem;
			font-weight: 700;
			color: #fff;
		}
			.div-start-button #btn-register:hover, .btn-div input:hover{
				transform: translateY(-5px);
				box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
			}
		.login-portal{
			color: #FF7A00;
			font-size: 1.7rem;
			margin: 1.5rem;
		}

		/* absolutes divs enzo you are crazy */
		.registration-div, .login-div{
			position: absolute;
			background-color: #FF67F9;
			width: 70%;
			height: auto;

			transform: translateX(+100vw); 
			transition: 0.8s;

			border-radius: 4rem;
			z-index: 1;
			
			box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

			display: flex;
			flex-direction: column;
		}
		.inner-registration-div span, .login-div span{
				font-size: 3rem;
				font-weight: 600;
			}
			.inner-registration-div input, .inner-login-div input{ 
				width: auto;
				height: 3rem;
				color:rgb(50, 50, 50);
				padding: 1rem 1.5rem 1rem 1.5rem;
				font-size: 2.5rem;
				font-weight: 200;
				border-radius: 2.5rem;
				outline: 0;
				border: 0;
			
				background-color: #D9D9D9;
				box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
			}

		.registration-div, .login-div{

		}

			/* registration div */
			.registration-div.entry{
				transform: translateX(0);
				padding: 3rem;
			}
				.inner-registration-div{
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: row;
				}
			

			/* LOGIN DIV */
			.login-div{
				flex-direction: column;
				width: auto;
			}
				.login-div.entry{
					transform: translateX(0);
					padding: 3rem;
				}
				
			.login-div .btn-div{
				margin-top: 5rem;
			}


		/* inputs */
		.div-input{
			width: auto;
			margin-top: 2rem;
		}
		.input-group-left, .input-group-right{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}

		.btn-div{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
			.btn-div input{
				margin: 5rem 5rem 3rem 5rem;
			}
