/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter+Tight&family=Jaldi&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/*   V A R I A B L E S   */
:root{
    font-size: 62.5%;
    --background-color: #e6e6e6;
        --darker-background-color: #9d9d9d;
        --darker-background-popup-color: #9e9e9e;
    --input-background: #d9d9d9;

    --primary-color: #ff67f9;
        --create-chart-background-color: #9AD77E;

    --secondary-color: #ff7A00;
        --answer-chart-background-color: #F8B86E;

    --primary-font-color: #000;
    --secondary-font-color: #fff;
    --link-font-color: #007AAE;
    --desc-title-color: #D90;

    --error-background: #f44336;
}
.dark-mode{
    --background-color: #1a1a1a;
        --darker-background-color: #343333;
        --darker-background-popup-color: #9e9e9e;
    --input-background: #d9d9d9;

    --primary-color: #4B1589;
        --create-chart-background-color: #143D01;

    --secondary-color: #FF7A00;
        --answer-chart-background-color: #4D198A;

    --primary-font-color: #fff;
    --secondary-font-color: #000;
    --link-font-color: #007AAE;
    --desc-title-color: #7e3ce6;

    --error-background: #710000;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@keyframes rotate {	
    to {
		--angle: 360deg;
	}
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

img{
    object-fit: cover;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /*   B E G I N N I N G   */

html{
	/* setting HMTL viewports */
	width: 100%;
	height: auto;
	font-family: Krub, Inter Tight, Jaldi, sans-serif;
}
body{
	background-color: var(--background-color);
	/* rem equivalency */
    font-size: 1.6rem;
    

	overflow-x: hidden;
	/* inherit html proportions*/
	width: 100%;
	height: 100%;
}

/*   L O A D I N G   P A G E   */
.loading-page{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #505050;
    opacity: 50%;

    visibility: hidden;
    z-index: 10;

    overflow: hidden;
}
    .loading-page img{
        animation: rotation 2s infinite linear;
        user-select: none;
    }
    .loading-page.show{
        visibility: visible;
    }

/*   E R R O R   P A G E   */
.error-popup{
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.3s ease-in-out;
    
    color: var(--primary-font-color);

    font-family: Fira Code;
}
    .error-popup-div{
        display: flex;

        height: fit-content;
        width: auto;

        background-color: var(--error-background);
        padding: 2rem;
        border-radius: 3rem;
        margin: 5rem;

        border: 2px solid transparent;
        box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
        transition: 0.5s ease-in-out;
        visibility: hidden;
    }
    .error-popup.show{
        visibility: visible;
    }
        .error-btn-div{
            width: 5rem;
            height: 5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
.error-popup .closebtn{
    font-size: 4rem;
    font-weight: 700;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    margin: 0;
}
.error-popup .closebtn:hover{
    color: #000;
}
    .error-popup .closebtn span{
        margin:0;
    }

/*   N A V    B A R    */
nav{
    position:sticky;

	width: 100%;
	height: 8rem;

	display: flex;
    justify-content: space-between;
}

	/*   LOGO    */
	.logo{
		padding-left: 2.5rem;
		display: flex;
		align-items: flex-end;
		margin-bottom: 0.5rem;
		cursor: pointer;
	}

	/*   NAVBAR END DIV    */
	.end-navbar-div{
		display: flex;
		align-items: center;
	}

    /*   USER USERNAME   */
    .navbar-user-username{
        margin: 2rem;
        margin-left: 0;

        color: var(--primary-color);
        font-size: 2rem;
        font-weight: 700;
        font-family: Fira Code;
    }    

	/*   USER IMAGE    */
	.user-img, .user-img img{
		height: 100%;
        width: 100%;
		cursor: pointer;
        aspect-ratio: 1/1;
	}


/*   N A V B A R   D I V I D E   */
.navbar-divide-hr{
	position: sticky;
	height: 0.5rem;
	width: 100%;
	background-color: var(--primary-font-color);
}

/*   U S E R   P O P - U P   */
.config-popup{
	visibility: hidden;

	width: 30rem;
    height: auto;

	position: absolute;
	right: 0;
	background-color: var(--darker-background-popup-color);

	display: flex;
	flex-direction: column;

	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
	.config-popup a{
		padding: 2rem;
		color: var(--secondary-font-color);
		font-family: Inter Tight;
		font-weight: 500;
		font-size: 2.5rem;
        border-bottom: 1px solid var(--secondary-font-color);
	}
	.config-popup a:hover{
		font-weight: 600;
	}
.config-popup.visible{
	visibility: visible;
}

/*   LOG OUT BUTTON    */
.logout-btn{
    display: flex;
    justify-content: center;
}
.logout-btn #btn{
    width: 9rem;
    height: 5rem;
    margin: 2rem;

    border-radius: 4rem;
    background: var(--primary-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform ease 0.5s, box-shadow ease 0.5s;

    border: none;
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;

    font-family: Inter Tight;
    font-weight: 400;
}
    .logout-btn #btn:hover{
        transform: translateY(-5px);
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
    }

/*   M A I N   */
main{
	width: auto;
	height: calc(100vh - calc(8rem + 0.5rem));
	display: flex;
}

                                    /*   I N D E X   */

                                    
/* MAIN GRID */
.main-grid-body{

	/* grid */
	display: grid;
	grid-template-columns: 25% 75%;
	transition: 0.7s ease-in-out;
    position: fixed;
}
    .main-grid-body a{
        color: var(--link-font-color);
    }

/* ASIDE */


	.disclaimer-register{
		border-radius: 0 7rem 7rem 0;
        color: var(--primary-font-color);
		background-color: var(--darker-background-color);

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		padding-right: 7rem;
		box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
	}
		.disclaimer-upper-text, .disclaimer-lower-text, span{
			display: inherit;
			flex-direction: inherit;
			margin: 1rem;
		}
			.disclaimer-upper-text{
				font-size: 2.2rem;
				font-weight: 700;
			}
			.disclaimer-lower-text{
				margin-top: 6rem;
				font-weight: 400;
				font-size: 1.7rem;
			}
		.disclaimer-source-text{
			font-size: 2rem;
		}
	.GitHub{
		font-weight: 600;
		margin: 3rem;
	}

/* MAIN	*/
.main-start{
    height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
	/* start button main */
	.start{
		display: flex;
		text-align: center;
		flex-direction: column;
	}
		.div-start-button #btn-register, .btn-div input{
			width: 26rem;
			height: 10rem;

			border-radius: 4rem;
			background: var(--secondary-color);
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			transition: transform ease 0.5s, box-shadow ease 0.5s;

			border: none;
			font-size: 3rem;
			font-weight: 700;
			color: #fff;
		}
			.div-start-button #btn-register:hover, .btn-div input:hover{
				transform: translateY(-5px);
				box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
			}
		.login-portal{
			color: var(--secondary-color);
			font-size: 1.7rem;
			margin: 1.5rem;
		}

		/* absolutes divs enzo you are crazy */
		.registration-div, .login-div{
			position: absolute;
			background-color: var(--primary-color);
			width: 70%;
			height: auto;

			transform: translateX(+110vw); 
			transition: 0.8s;

			border-radius: 4rem;
			z-index: 1;
			
			box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

			display: flex;
			flex-direction: column;
		}
		.inner-registration-div span, .inner-login-div span{
				font-size: 3rem;
				font-weight: 600;
                color: var(--primary-font-color);
			}
			.inner-registration-div input, .inner-login-div input,
            .inner-registration-div select{ 
				width: auto;
				height: 3rem;
				color: #000;
				padding: 1rem 1.5rem 1rem 1.5rem;
				font-size: 2.5rem;
				font-weight: 200;
				border-radius: 2.5rem;
				outline: 0;
				border: 0;
			
				background-color: var(--input-background);
				box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
			}
                .inner-registration-div select{
                    height: 5rem;
                }

			/* registration div */
			.registration-div.entry{
				transform: translateX(0);
				padding: 3rem;
			}
				.inner-registration-div{
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: row;
				}
			

			/* LOGIN DIV */
			.login-div{
				flex-direction: column;
				width: auto;
			}
				.login-div.entry{
					transform: translateX(0);
					padding: 3rem;
				}
				
			.login-div .btn-div{
				margin-top: 5rem;
			}


		/* inputs */
		.div-input{
			width: auto;
			margin-top: 2rem;
		}
		.input-group-left, .input-group-right{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
		}

		.btn-div{
			display: flex;
			flex-direction: column;
			align-items: center;
		}
			.btn-div input{
				margin: 5rem 5rem 3rem 5rem;
			}
            .btn-div span{
                color: var(--primary-font-color);
            }
            .btn-div a{
                color: var(--link-font-color);
            }

                                        /*   H O M E   */

.home-main{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 8.5rem);
}
.main-section-wrap{
    display: flex;
    height: 100%;
}
              
/*   B T N   S E C T I O N   */
.home-main .main-btn-section{
    display: grid;
    grid-template-areas: "newchart"
                        "answerchart";
    color: var(--primary-font-color);
}
    /*   CREATE CHART DIV    */
    .home-main .new-chart{
        padding: 5rem 5rem 2rem 5rem;
    }
    .home-main .new-chart-btn{
        background-color: var(--create-chart-background-color);
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
        .home-main .new-chart-btn:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        }
    
    /*   ADD INFO DIV    */
    .home-main .answer-chart{
        padding: 2rem 5rem 0rem 5rem;
    }
    .home-main .answer-chart-btn{
        background-color: var(--answer-chart-background-color);
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
        .home-main .answer-chart-btn:hover, .home-main .create-chart-btn:hover{
            box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
        }
    
    .home-main .new-chart-btn, .home-main .answer-chart-btn{
        width: 100%;
        height: 100%;
        border-radius: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-family: Krub;
        font-size: 5rem;
        font-weight: 700;
    }

/*   C H A R T S   S E C T I O N   */
.home-main .main-charts-section{
    display: flex;
}
    
.home-main .main-charts-section a{
        display: flex;
        margin: 2rem;
        font-family: Inter Tight;
        font-size: 2rem;
        color: var(--link-font-color);
    }
        .home-main .main-charts-section a:hover{
            text-decoration: none;
            font-weight: 600;
        }

    .home-main .main-charts-section span{
        color: var(--primary-font-color);
        font-family: Jaldi;
        font-size: 2.5rem;
        font-weight: 600;

        display: flex;
    }
        .main-charts-section .left-charts-links .link-left-div,
        .main-charts-section .middle-charts-links .link-middle-div,
        .main-charts-section .right-charts-links .link-right-div{
            overflow-y: scroll;
        }

    /*   LEFT CHART LINKS DIV    */
    .home-main .left-charts-links{
        padding: 5rem 1.5rem 0rem 0rem;
        display: flex;
        flex-direction: column;
    }
        .home-main .link-left-div{
            width: 100%;
            height: 100%;
            background-color: var(--darker-background-color);

        }

    /*   MIDDLE CHART LINKS DIV    */	
    .home-main .middle-charts-links{
        padding: 5rem 1.5rem 0rem 1.5rem;
        display: flex;
        flex-direction: column;
    }
        .home-main .link-middle-div{
            width: 100%;
            height: 100%;
            background-color: var(--darker-background-color);

        }

    /*   RIGHT CHART LINKS DIV    */
    .home-main .right-charts-links{
        padding: 5rem 3rem 0rem 1.5rem;
        display: flex;
        flex-direction: column;
    }
        .home-main .link-right-div{
            width: 100%;
            height: 100%;
            background-color: var(--darker-background-color);

        }

    /*   F O O T E R   */
    footer{
        width: 100%;
        padding: 3rem 0 3rem 0;
        color: var(--primary-font-color);
        font-weight: 500;
        font-family: Inter Tight;

        display: flex;
        justify-content: center;
        align-items: center;
    }


                                /*   C R E A T E   C H A R T S   */

    .create-chart-section{
        background-color: var(--primary-color);
        width: inherit;
        margin: 5rem 5rem 0rem 5rem;
        padding: 5rem;
        border-radius: 8rem 8rem 0rem 0rem;
        box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
        color: var(--primary-font-color);

        display: grid;
        grid-template-columns: 35% 55% 10%;
    }
        /*   L E F T   S E C T I O N   D I V   */
        .left-inner-section-div{
            display: flex;
            flex-direction: column;
        }
        .left-inner-section-div, .input-title, .input-date, .input-description{
            display: flex;
            flex-direction: column;
        }
            /*   N E W   C H A R T   S P A N   */
            .left-inner-section-div-span{
                font-family: Krub;
                font-size: 5rem;
                text-align: center;
                font-weight: 700;
                margin-bottom: 3rem;
            }
            .input-title span, .input-date-span, .input-description span{
                font-family: Jaldi;
                font-size: 4rem;
                font-weight: 600;
                margin-top: 2rem;
                margin-bottom: 0.5rem;
            }

            /*   N E W   C H A R T   (INPUT   &   T E X T   A R E A)   */
            .left-inner-section-div input, .left-inner-section-div textarea, .left-inner-section-div select,
            .right-inner-section-div select{
                border: none;
                border-radius: 1rem;
                font-size: 3rem;
                padding: 1rem;
                font-family: Inter Tight;
                font-weight: lighter;
                resize: none;
                border: 1px solid var(--primary-font-color);
                background: var(--input-background);
            }
                .input-description textarea{
                    height: 25rem;
                }

            
            .today-date-checkbox{ 	
                display: flex;
                flex-direction: row;
                align-items: center;
                font-size: 2rem;
                font-family: Jaldi;
                font-weight: 400;
                margin: 1rem 1rem 1rem 0rem;
            }


        

        /*   R I G H T   S E C T I O N   D I V   */
        .right-inner-section-div{
            margin-left: 10rem;
            display: flex;
            flex-direction: column;
        }
        .right-inner-section-div-span{
            display: flex;
            justify-content: space-between;
        }

            .right-inner-section-div-span span{
                font-family: Krub;
                font-size: 2.4rem;
                font-weight: 700;
                margin-bottom: 3rem;
                align-items: center;
                padding-right: 2rem;
            }

            .create-btn #btn{
                width: 12rem;
                height: 8rem;

                border-radius: 4rem;
                background: var(--secondary-color);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                transition: transform ease 0.5s, box-shadow ease 0.5s;

                border: none;
                font-size: 2rem;
                font-weight: 600;
                color: #fff;
                cursor: pointer;

                font-family: Inter Tight;
                font-weight: 500;
            }
                .create-btn #btn:hover{
                    transform: translateY(-5px);
                    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
                }

        /*   S E L E C T S   (C O M B O   B O X)   */
        .select-div{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
            .input-first, .input-second, .input-third, .input-fourth{
                display: flex;
                flex-direction: column;
                margin: 1rem 1rem 1rem 0rem;
            }
                    .input-third, .input-fourth{
                        visibility: hidden;
                    }
                    .input-third.show, .input-fourth.show{
                        visibility: visible;
                    }

            .right-inner-section-div select{
                    width: 90%;
                    border: none;
                    border-radius: 1rem;
                    font-size: 3rem;
                    padding: 1rem;
                    font-family: Inter Tight;
                    font-weight: lighter;
                    resize: none;
                    border: 1px solid var(--primary-font-color);
            }
                .if-select{
                    width: 90%;
                    margin-top: 2rem;
                    display: flex;
                    flex-direction: row-reverse;
                }
                    .if-select select{
                        width: 40%;
                    }

            .select-div span{
                font-family: Jaldi;
                font-size: 4rem;
                font-weight: 600;
                margin-top: 2rem;
                margin-bottom: 0.5rem;
            }
                .select-btn-group{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
                    .select-btn-group div{
                        font-size: 5rem;
                        border: 0;
                        outline: 0;
                        padding: 0;
                        background-color: transparent;
                        cursor: pointer;
                        color: var(--primary-font-color);
                    }

                    .icon{
                        text-align: center;
                        box-sizing: border-box;
                        transition: .5s all ease-out;
                    }
                        .fa-plus {
                            transform: rotate(90deg);
                            transition: ease-in-out 0.3s;
                        }
                        .fa-minus::before {
                            transform: rotate(0deg);
                            transition: ease-in-out 0.3s;
                        }
                            .fa-minus {
                                transform: rotate(0deg);
                                transition: ease-in-out 0.3s;
                            }
        .create-btn{
            display: flex;
            justify-content: center;
        }

                                    /*   A D D   T O P I C S   */

        .addinfo-aside{
            display: flex;
            flex-direction: column;
            padding-right: 3rem;
            margin: 5rem 0 0 5rem;
        }
            .addinfo-aside span{
                color: var(--primary-font-color);
                font-family: Krub;
                font-size: 3rem;
                font-weight: 600;
            }
                .addinfo-aside .margin-span{
                    margin: 5rem 0 5rem 0;
                }

        /*   S E C T I O N   */
        .addinfo-section{
            display: flex;
            flex-direction: column;
            background-color: var(--primary-color);
            margin: 5rem 5rem 0rem 5rem;
            padding: 5rem 5rem 2rem 5rem;
            border-radius: 8rem 8rem 0rem 0rem;
            box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
        }
            .addinfo-section form{
                display: flex;
                flex-direction: column;
            }
            .addinfo-section select{
                width: 90%;
                border: none;
                border-radius: 1rem;
                font-size: 3rem;
                padding: 1rem;
                font-family: Inter Tight;
                font-weight: lighter;
                resize: none;
                border: 1px solid var(--primary-font-color)
            }

        .special-info-div .add-info-div{
            justify-content: space-between;
            background-color: var(--secondary-font-color);
            padding: 2.5rem;
            border-radius: 2rem;
            border: 5px solid transparent;
            border-image: conic-gradient(
			from var(--angle),red,yellow,lime,aqua,blue,magenta,red)1;
        animation: 10s rotate linear infinite;
        }
            .addinfo-section .inner-section-div{
                display: flex;

                overflow-x: hidden;
                overflow-y: scroll;
            }
            .addinfo-section .addinfo-section-wrapper{
                display: flex;
            }
                .add-info-div{
                    display: flex;
                    align-items: center;
                    margin: 1rem 1rem 5rem 1rem;
                }
                    .add-info-div span{
                        color: var(--primary-font-color);
                        font-family: Inter Tight;
                        font-size: 2rem;
                        font-weight: 600;

                        margin: 1rem;
                    }
                    .add-info-div span{
                        width: 60%;
                    }
                    .add-info-input-div input{
                        width: auto;
                        height: 2.5rem;
                        border-radius: 1rem;
                        border: 2px solid var(--primary-font-color);
                        background: var(--input-background);
                        font-size: 2rem;
                        padding: 0.5rem;
                    }

                    .addinfo-section .alter-btn{
                        position: fixed;
                        right: 0;
                        bottom: 0;
                        z-index: 5;
                        margin: 3rem;
                        display: flex;
                        flex-direction: row-reverse;
                    }
                    .addinfo-section .alter-btn #btn{
                        width: 12rem;
                        height: 5rem;
                        border-radius: 4rem;
                        background: var(--secondary-color);
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        transition: transform ease 0.5s, box-shadow ease 0.5s;
                
                        border: none;
                        font-size: 2rem;
                        font-weight: 600;
                        color: #fff;
                        cursor: pointer;
                
                        font-family: Inter Tight;
                        font-weight: 500;
                    }
                        .addinfo-section .alter-btn #btn:hover{
                            transform: translateY(-5px);
                            box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
                        }
                            /*   E D I T   P R O F I L E   */

    .editprofile-main{
        width: 70%;
        display: flex;
        margin: auto;
        height: calc(100vh - 18.5rem);
    }
        .editprofile-section{
                width: 100%;
                height: auto;
                display: flex;
                padding: 5% 15% 0 0;
            }
                .alter-profile-image{
                    font-size: 4rem;
                    margin-right: 1rem;
                }
                .alter-profile-image form{
                    width: auto;
                    height: auto;
                }
                    .alter-profile-image input{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        height: 5rem;
                        width: 6rem;
                        font-size: 3rem;    

                        border: 0.2rem solid var(--primary-font-color);
                        border-radius: 1rem;

                        cursor: pointer;
                        transition: 0.3s ease-in-out;
                    }
                        .alter-profile-image input:hover{
                            background-color: var(--primary-font-color);
                        }


            .editprofile-article{
                display: flex;
                flex-direction: column;
                width: 100%;
            }
                .editprofile-article .top-inner-article-div{
                    display: flex;
                    height: 30%;
                    width: 100%;
                    margin-bottom: 5rem;
                }
                    .profile-pic-div, .profile-pic-div img{
                        aspect-ratio: 1/1;
                        width: auto;
                        height: 100%;
                    }            
                    .left-group{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-left: 2.5rem;
                    }
                        .user-name-div{
                            color: var(--primary-color);
                            background-color: #d9d9d9;
                            font-family: Fira Code;
                            font-size: 7rem;
                            font-weight: 600;
                        }
                        .user-username-div{
                            width: min-content;
                            color: var(--secondary-font-color);
                            background-color: var(--primary-font-color);
                            font-family: Inter Tight;
                            font-size: 3rem;
                            font-style: normal;
                            font-weight: 700;

                            margin: 0.5rem 0 0.5rem 0;
                            padding: 0.5rem;
                        }
                
                .low-inner-article-div{
                    display: flex;
                    flex-direction: column;
                }
                    .low-inner-article-div .input-div{
                        display: flex;
                        width: 100%;
                        color: var(--primary-font-color);
                        font-family: Inter Tight;
                        font-size: 3rem;
                        font-weight: 600;

                        margin-bottom: 3rem;
                    }
                        .low-inner-article-div .input-div input{
                            width: 30rem;
                            height: 3.5rem;
                            border-radius: 1rem;
                            border: 2px solid var(--primary-font-color);
                            background: var(--input-background);
                            margin-bottom: 1rem;
                            cursor: not-allowed;
                            display: flex;  
                            width: 100%;
                            color: #000;
                            font-family: Inter Tight;
                            font-size: 3rem;
                            font-weight: 600;
                        }

                        .low-inner-article-div .input-div .input-inner-div{
                            display: flex;
                            flex-direction: column;
                            
                        }
                            .low-inner-article-div .input-div .input-inner-div a{
                                color: var(--link-font-color);
                                font-family: Inter Tight;
                                font-size: 2rem;
                                font-weight: 600;
                                line-height: normal;
                                text-decoration-line: underline;
                                margin-bottom: 1rem;
                            }
                                .low-inner-article-div .input-div .input-inner-div a:hover{
                                    text-decoration: none;
                                }
                        .input-div-span{
                            width: 25%;
                        }


                    /*   C H A N G E   E M A I L   &&   P A S S W O R D   */

    .changeemail-main, .changepass-main{
        width: 80rem;
        max-height: calc(auto - calc(8rem + 0.5rem + 5%));
        margin: auto;
        overflow-y: auto;
    }
    .alter-profile-image{
		font-size: 4rem;
        padding-top: 1rem;
	}
        .alter-profile-image .btn-div{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 5rem;
			width: 6rem;

			border: 0.2rem solid var(--primary-font-color);
			border-radius: 1rem;

			cursor: pointer;

			transition: 0.3s ease-in-out;
		}
		.alter-profile-image .btn-div:hover{
			background-color: var(--primary-font-color);
		}


    .changeemail-section, .changepass-section{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        color: var(--primary-font-color);
        text-align: justify;
        font-family: Krub;
        font-size: 3rem;
        font-weight: 600;
    }
        .changeemail-section .input-div, .changepass-section .input-div{
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-family: Inter Tight;
            font-size: 3rem;
            font-weight: 600;

            margin-bottom: 3rem;
        }
            .changeemail-section .top-inner-section-div-span, .changeemail-section .low-inner-section-div-span,
            .changepass-section .top-inner-section-div-span, .changepass-section .low-inner-section-div-span{
                margin: 0 0 5rem 0;
            }
            .changeemail-section .low-inner-section-div-span, .changepass-section .low-inner-section-div-span{
                display: flex;
                flex-direction: column;
            }
                .changeemail-section .low-inner-section-div-span span, .changepass-section .low-inner-section-div-span span{
                    margin-bottom: 2rem;
                }
            .changeemail-section .input-div .input-div-span, .changepass-section .input-div .input-div-span{
                width: 25%;
            }
            .changeemail-section .input-div input, .changepass-section .input-div input{
                width: 40rem;
                height: 3.5rem;
                border-radius: 1rem;
                border: 2px solid var(--primary-font-color);
                background: var(--input-background);
                margin-bottom: 1rem;
            }

            .changeemail-section .alter-btn, .changepass-section .alter-btn{
                display: flex;
                flex-direction: row-reverse;
            }
            .changeemail-section .alter-btn #btn, .changepass-section .alter-btn #btn{
                width: 12rem;
                height: 5rem;
    
                border-radius: 4rem;
                background: var(--secondary-color);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                transition: transform ease 0.5s, box-shadow ease 0.5s;
    
                border: none;
                font-size: 2rem;
                font-weight: 600;
                color: #fff;
                cursor: pointer;
    
                font-family: Inter Tight;
                font-weight: 500;
            }
                .changeemail-section .alter-btn #btn:hover, .changepass-section .alter-btn #btn:hover{
                    transform: translateY(-5px);
                    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
                }

            .changeemail-section .low-inner-section-div, .changepass-section .low-inner-section-div{
            visibility: hidden;  
            opacity: 0;
            transition: 0.3s ease-in;
        }
        .changeemail-section .low-inner-section-div.after, .changepass-section .low-inner-section-div.after{
                visibility: visible;
                opacity: 1;
            }
                                    /*   C H A R T   P A G E   */

    .chart-main{
        height: auto;
        flex-direction: column;
    }
    .top-wrapper-div{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 5rem;
    }
        /*   S E C T I O N   */
        .chart-section{
            width: 65%;
            height: auto;
            padding: 5rem;

            display: flex;
            flex-direction: column;
        }
            .inner-span-section-div{
                display: flex;
                align-items: center;
                padding: 0 5rem 5rem 0;
                color: var(--desc-title-color);
                font-family: Fira Code;
                font-size: 6rem;
                font-style: normal;
                font-weight: 600;
            }
            .inner-content-section-div{
                display: flex;
                flex-direction: column;
                width: auto;
                height: auto;
                margin-bottom: 5rem;
            }
        .main-charts-section{
            width: 75%;
            height: auto;
        }

                /* COMENTARIOS */
                .comment-wrapper-div{
                    display: flex;
                    flex-direction: column;
                    padding: 5rem;
                    margin: auto;
                    margin-bottom: 10rem;
                    width: 80%;
                    border-radius: 5rem;
                    background-color: var(--darker-background-color);
                    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                }
                    .comment-wrapper-div form{
                        width: 100%;
                        display: flex;
                        align-items: center;
                    }
                        .comment-wrapper-div form input{
                            width: 100%;
                            height: 3rem;
                            color: #000;
                            padding: 1rem 1.5rem 1rem 1.5rem;
                            font-size: 2.5rem;
                            font-weight: 200;
                            border-radius: 1rem;
                            outline: 0;
                            border: 0;
                            margin: 0 1.5rem 0 1.5rem;
                        
                            background-color: var(--input-background);
                            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
                        }
                        #new-comment-btn{
                            width: 12rem;
                            height: 5rem;
                            border-radius: 4rem;
                            background: var(--secondary-color);
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                            transition: transform ease 0.5s, box-shadow ease 0.5s;
                            border: none;
                            font-size: 2rem;
                            font-weight: 600;
                            color: #fff;
                            cursor: pointer;
                            font-family: Inter Tight;
                            font-weight: 500;
                        }
                    .comment-title-span{
                        color: var(--primary-font-color);
                        font-weight: bold;
                        font-size: 6rem;
                        margin-bottom: 5rem;
                    }
                        .comment-title-span span{
                            margin: 0;
                        }
                    .new-comment-div, .comment-div{
                        display: flex;
                        width: 100%;
                        height: auto;
                    }
                        .new-comment-div-img, .new-comment-div-img img,
                        .comment-div-img, .comment-div-img img{
                            cursor: pointer;
                            aspect-ratio: 1/1;
                            height: 8rem;
                        }
                    .outer-comment-div{
                        display: flex;
                        flex-direction: column-reverse;
                    }
                        .comment-div{
                            width: auto;
                            margin-top: 5rem;
                            display: flex;
                            flex-direction: column;
                            padding: 2.5rem;
                            border: 5px solid #000;
                        }
                            .comment-div span{
                                color: var(--primary-font-color);
                                font-family: Inter Tight;
                                font-size: 2.5rem;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;
                            }
                                .comment-div-username span{
                                    color: var(--secondary-color);
                                    margin: 0;
                                }

        /*   A S I D E   */
        .chart-aside{
            width: 35%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
            .inner-info-aside-div{
                margin: 5rem;
                height: 100%;
            }
                .info-aside-div{
                    width: auto;
                    height: auto;
                    border-radius: 3rem;
                    border: 0.5rem solid var(--primary-font-color);
                    background: transparent;
                    padding: 3rem 5rem 3rem 5rem;

                    display: flex;
                    flex-direction: column;
                }
                .author-div, .date-div, .desc-div, .topic-div{
                    border-bottom: 1px solid var(--primary-font-color);
                    margin-bottom: 4rem;
                }
                    .topic-div{
                        width: 100%;
                        height: 35%;
                    }
                    .topic-div-content, .desc-div-content, .author-div, .date-div{
                        color: var(--primary-font-color);
                        font-family: Krub;
                        font-size: 2.5rem;
                        font-style: normal;
                        font-weight: 700;
                        margin-bottom: 2rem;
                    }
                        .topic-div li{
                            margin: 1rem;
                            list-style:disc;
                        }
                        .topic-div-span, .desc-div-span, .author-div-span, .date-div-span{
                            width: auto;
                            height: auto;
                            margin-bottom: 3rem;

                            color: var(--desc-title-color);
                            text-align: center;
                            font-family: Krub;
                            font-size: 4rem;
                            font-weight: 700;
                        }
                    .desc-div{
                        width: 100%;
                        height: auto;
                        margin-bottom: 4rem;
                    }



                            /*   M Y   C H A R T S   */
    .no-charts-section{
            width: auto;
            height: auto;
            display: flex;
            flex-direction: column;
            text-align: center;

            color: var(--primary-font-color);
                            font-family: Krub;
                            font-size: 2.5rem;
                            font-style: normal;
                            font-weight: 700;
                            margin: 5rem;
        }
            .no-charts-section a{
                color: var(--link-font-color);
            }

    .mycharts-main{
        width: 90%;
        height: calc(100vh - 18.5rem);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
    }
    

        .mycharts-div{
            width: 40rem;
            height: 40rem;
            border: 5px solid var(--primary-font-color);

            display: flex;
            flex-direction: column;
            border-radius: 5rem;
            margin: 5rem 5rem 0 5rem;

            cursor: pointer;

            transition: 0.3s ease-in-out;
        }
        .mycharts-div:hover{
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
            .mycharts-div-main{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 90%;
            }
                .mycharts-main-logo{
                    background-image: url('../donut-chart.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 50%;
                    aspect-ratio: 1/1;
                }
        .mycharts-div-title{
            height: 10%;
            padding: 2rem;
            border-top: 1px solid var(--primary-font-color);

            color: var(--primary-font-color);
            text-align: center;
            font-family: Fira Code;
            font-size: 3rem;
            font-weight: 600;
            line-height: normal;

            overflow: hidden;
        }    



                           /*   M E D I A   Q U E R I E S   */

/* HOME PAGE */
@media screen and (max-width: 1500px) {
    .home-main{
        display: flex;
        flex-direction: column;
        height: calc(100vh - calc(8rem + 0.5rem));
        overflow-y: scroll;
    }
    .main-section-wrap{
        height: auto;
        display: flex;
        flex-direction: column;
    }
        .home-main .main-btn-section{
            display: flex;
        }
        .home-main .main-btn-section div{
            width: 100%;
        }
            .home-main .main-btn-section .new-chart, .home-main .main-btn-section .answer-chart{
                padding: 5rem;
                height: 40vh;
            }
        .home-main .main-charts-section{
            width: 100%;
        }
            .home-main .left-charts-links, .home-main .middle-charts-links, .home-main .right-charts-links{
                padding: 2rem;
            }
}
@media screen and (max-width: 1110px) {
    .home-main .main-btn-section{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
        .home-main .main-btn-section .new-chart, .home-main .main-btn-section .answer-chart{
            padding: 2rem;
            width: 90%;
            height: 20vh;
        }
    .home-main .main-charts-section{
        flex-direction: column;
    }
}
@media screen and (max-width: 700px) {
            
    .logo{
        padding-left: 0;
    }
}
@media screen and (max-width: 515px) {
    .navbar-user-username{
        position: absolute;
        visibility: hidden;
    }
    .main-btn-section span{
        font-size: 3rem;
    }
}

/* ADD INFORMATION */
@media screen and (max-width: 1400px) {
    .addinfo-section .inner-section-div{
        flex-direction: column;
    }
    .addinfo-section .right-inner-section-div{
        margin: 0;
    }
}
@media screen and (max-width: 1190px) {
    .add-info-div{
        flex-direction: column;
        align-items: baseline;
    }
}
@media screen and (max-width: 1030px) {
    html, body {
        overflow-x: hidden;
        overflow-y: auto;
      }
    
    main{
        flex-direction: column;
    }
    .addinfo-aside{
        text-align: center;
        align-items: center;
        padding: 5rem;
        margin: 0;
    }
    .addinfo-aside, .addinfo-section{
        width: auto;
    }
    .addinfo-section .left-inner-section-div{
        align-items: center;
    }
    .add-info-div{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .add-info-div input{
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    .addinfo-section{
        margin: 5rem 0 0 0;
        padding: 5rem 0 0 0;
    }
    .alter-btn{
        margin: 3rem;
    }
    .add-info-div{
        width:inherit;
        margin: 1rem 0 5rem 0;
    }
    .add-info-div input{
        width: auto;
    }
}
@media screen and (max-width: 460px) {
    .inner-section-div{
        padding: 3rem;
    }
    .add-info-div{
        align-items: normal;
        align-self: normal;
        width: 100%;
    }
    
}

/* EDIT PROFILE */
@media screen and (max-width: 1300px) {
    .editprofile-section{
        padding: 5% 0 0 0;
    }
}
@media screen and (max-width: 1150px) {
    .user-name-div{
        font-size: 5rem;
        
    }
}
@media screen and (max-width: 950px) {
    .user-name-div{
        font-size: 5rem;
        
    }
    .editprofile-main{
        width: 100%;
        margin: 0;
    }
    .editprofile-section{
        padding: 5rem;
        width: auto;
    }
}
@media screen and (max-width: 750px) {
    .editprofile-article .top-inner-article-div{
        flex-direction: column;
        height: auto;
    }
    .editprofile-main{
        height: auto;
    }
    .profile-pic-div{
        width: 20rem;
        height: 20rem;
    }
    .left-group{
        margin: 2rem 0 0 0;
    }
    .input-div{
        justify-content: space-between;
    }
    .input-div-span{
        width: auto;
        margin-right: 2rem;
    }
}
@media screen and (max-width: 650px) {
    .low-inner-article-div .input-div{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width: 480px) {
    .editprofile-main .editprofile-section{
        flex-direction: column;
    }
    .top-inner-article-div{
        align-items: center;
    }
}

/* MY CHARTS PAGE */
@media screen and (max-width: 1200px) {
    .mycharts-main{
        width: 100%;
    }
}
@media screen and (max-width: 1030px) {
    .mycharts-main{
        align-items: center;
        width: 100vw;
    }
}
@media screen and (max-width: 550px) {
    .mycharts-div{
        width: auto;
        margin: 3rem;
    }
}

/* CREATE CHARTS */
@media screen and (max-width: 1370px) {
    .create-chart-section .left-inner-section-div-span{
        font-size: 4rem;
    }
    .input-title input{
        width: calc(100% - 2rem);
    }
}
@media screen and (max-width: 1050px) {
    .create-chart-section{
        display: flex;
        flex-direction: column;
    }
    main{
        height: auto;
    }
    .right-inner-section-div{
        margin: 8rem 0 0 0;
    }
    .create-btn{
        margin-top: 8rem;
    }
}
@media screen and (max-width: 710px) {
    .create-chart-section{
        margin: 5rem 2rem 2rem 2rem;
    }
}
@media screen and (max-width: 550px) {
    .create-chart-section{
        margin: 5rem 0 0 0;
        padding: 5rem 3rem 5rem 3rem;
    }
}

@media screen and (max-height: 950px) {
    .input-description textarea{
        height: 20rem;
    }
}
@media screen and (max-height: 900px) {
    .input-description textarea{
        height: 15rem;
    }
}
@media screen and (max-height: 850px) {
    .input-description textarea{
        height: 10rem;
    }
}

/* CHART PAGE */
@media screen and (max-width: 1580px) {
    .top-wrapper-div{
        flex-direction: column;
    }
    .chart-aside{
        width: 80%;
        margin: auto;
    }
    .chart-section{
        margin-bottom: 0;
    }
}
@media screen and (max-width: 1300px) {
    .chart-section .inner-span-section-div{
        text-align: center;
        padding: 0;
    }
    .chart-main{
        flex-direction: column;
        align-items: center;
    }
    .chart-aside{
        width: 65%;
    }
        .chart-main .inner-span-section-div{
            margin: 0 2rem 5rem 2rem;
            width: 90vw;
        }
    .inner-content-section-div{
        margin: 0;
    }
}
@media screen and (max-width: 1100px) {
   .chart-section{
        width: 100%;
        align-items: center ;
        padding: 0;
    }
    .chart-section .inner-span-section-div{
        justify-content: center;
    }
    .chart-section .inner-span-section-div span{
        font-size: 4rem;
    }
}
@media screen and (max-width: 780px){
    .chart-aside{
        width: auto;
    }
}
@media screen and (max-width: 515px) {
    .chart-aside{
        width: auto;
        margin: 0;
    }
    .chart-section .inner-span-section-div{
        font-size: 4rem;
    }
    .comment-wrapper-div{
        border-radius: 0;
        margin:0;
    }
}
@media screen and (max-width: 450px) {
    .comment-title-span{
        font-size: 5rem;
    }
    .author-div-span, .date-div-span, .desc-div-span, .topic-div-span{
        font-size: 3rem;
    }
}

/* EMAIL && PASSWORD PAGES */
@media screen and (max-width: 1030px) {
    .changeemail-main, .changepass-main{
        width: 90%;
    }
    .changeemail-main .alter-profile-image, .changepass-main .alter-profile-image{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    .changeemail-main span, .changepass-main span{
        margin: 0;
    }
    .changeemail-section .top-inner-section-div, .changepass-section .top-inner-section-div{
        margin-bottom: 5rem;
    }
}
@media screen and (max-width: 600px) {
    .changeemail-main .top-inner-section-div input, .changeemail-main .low-inner-section-div input,
    .changepass-main .top-inner-section-div input, .changepass-main .low-inner-section-div input{
        width: 20rem;
    }
}

/* INDEX */
@media screen and (max-width: 1430px) {
    .main-grid-body .main-start{
        width: 100%;
    }
    .main-grid-body{
        grid-template-columns: 50% 50%;
    }
    .registration-div{
        width: auto;
        height: 90%;
        overflow-y: scroll;
    }
        .registration-div .inner-registration-div{
            flex-direction: column;
        }
        .registration-div .btn-div a{
            margin-bottom: 5rem;
        }
}
@media screen and (max-width: 930px) {
    .main-grid-body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .disclaimer-register{
        margin: 5rem 5rem 5rem 5rem;
        width: 80%;
        text-align: center;
        border-radius: 5rem;
        font-size: 4rem;
        padding: 0;
    }
    .disclaimer-register .disclaimer-text{
        margin: 3rem;
    }
        .disclaimer-register .disclaimer-upper-text{
            font-size: 3rem;
        }
        .disclaimer-register .disclaimer-lower-text{
            font-size: 2rem;
            word-wrap: break-word;
        }
        .disclaimer-register .disclaimer-source-text{
            font-size: 2.8rem;
        }
    .disclaimer-source-text{
        padding: 0;
    }
    .main-start{
        margin-top: 20rem;
    }
        .start{
            width: 100%;
            align-items: center;
        }
            .start .div-start-button{
                width: 100%;
            }
                .start .div-start-button #btn-register{
                    width: 80%;
                    height: 15rem;
                    border-radius: 10rem;
                    font-size: 5rem;
                }
            .start .login-portal{
                margin-bottom: 5rem;
                font-size: 3rem;
            }
    .registration-div{
        height: auto;
        width: 100%;
        border-radius: 10rem 10rem 0 0;
        overflow-y: hidden;
    }
        .registration-div .btn-div, .login-div .btn-div{
            font-size: 3rem;
        }
            .registration-div .btn-div a, .login-div .btn-div a{
                font-size: 2rem;
                margin-bottom: 0;
            }
}
@media screen and (max-width: 550px) {
    .disclaimer-register{
        margin: 1rem;
        width: auto;
    }
}