/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Jaldi&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    font-size: 62.5%;
}
html{
	/* setting HMTL viewports */
	width: 100%;
	height: 100%;
	font-family: Krub, Inter Tight, Jaldi, sans-serif;
}
body{
	background-color: #e6e6e6;
	/* rem equivalency */
    font-size: 1.6rem;

	/* overflow: hidden;
	/* inherit html proportions*/
	width: 100%;
	height: 100%;
}

/*   N A V    B A R    */
nav{
	width: 100%;
	height: 8%;

	display: flex;
    justify-content: space-between;
}

	/*   LOGO    */
	.logo{
		padding-left: 2.5rem;
		display: flex;
		align-items: flex-end;
		margin-bottom: 0.5rem;
	}

	/*   NAVBAR END DIV    */
	.end-navbar-div{
		display: flex;
		align-items: center;
	}
	.logout-btn #btn{
		width: 9rem;
		height: 5rem;
		margin: 2rem;

		border-radius: 4rem;
		background: #ff67f9;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		transition: transform ease 0.5s, box-shadow ease 0.5s;

		border: none;
		font-size: 1.7rem;
		font-weight: 600;
		color: #fff;
		cursor: pointer;
	}
	.logout-btn #btn:hover{
		transform: translateY(-5px);
		box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
	}
	.user-img{
		width: 8rem;
		height: 100%;
		background-image: url(../default-user-img.svg);
		background-repeat: no-repeat;
		cursor: pointer;
	}

	/*   N A V B A R   D I V I D E   */
	.navbar-divide-hr{
		position: sticky;
		height: 0.5rem;
		width: 100%;
		background-color: black;
	}

/*   M A I N   */
main{
	width: 100%;
	height: calc(100vh - calc(16% + 0.5rem));

	display: grid;
	grid-template-columns: "new-chart answer-chart";
	grid-template-columns: 35% 65%;
}

	/*   B T N   S E C T I O N   */
	.main-btn-section{
		display: grid;
		grid-template-areas: "newchart"
							"answerchart";
	}
		.new-chart{
			padding: 5rem 5rem 2rem 5rem;
		}
		.answer-chart{
			padding: 2rem 5rem 0rem 5rem;
		}
		.new-chart-btn, .answer-chart-btn{
			width: 100%;
			height: 100%;
			border-radius: 5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			font-family: Krub;
			font-size: 5rem;
			font-weight: 700;
		}
		.new-chart-btn{
			background-color: #9AD77E;
			transition: ease-in-out 0.5s;
			cursor: pointer;
		}
		.new-chart-btn:hover{
			box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
		}
		.answer-chart-btn{
			background-color: #F8B86E;
			transition: ease-in-out 0.5s;
			cursor: pointer;
		}
		.answer-chart-btn:hover{
			box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
		}

	/*   B T N   S E C T I O N   */
	.main-charts-section{
		display: grid;
		grid-template-columns: "left-charts-links middle-charts-links right-charts-links";
		grid-template-columns: 1fr 1fr 1fr;
	}
		.main-charts-section a{
			display: flex;
			margin: 2rem;
			font-family: Inter Tight;
			font-size: 2rem;
		}

		.main-charts-section span{
			color: #000;
			font-family: Jaldi;
			font-size: 2.5rem;
			font-weight: 600;

			display: flex;
		}

		.left-charts-links{
			padding: 5rem 1.5rem 0rem 0rem;
			display: flex;
			flex-direction: column;
		}
		.link-left-div{
			width: 100%;
			height: 100%;
			background-color: #A89E9E;

		}
		.middle-charts-links{
			padding: 5rem 1.5rem 0rem 1.5rem;
			display: flex;
			flex-direction: column;
		}
		.link-middle-div{
			width: 100%;
			height: 100%;
			background-color: #A89E9E;

		}
		.right-charts-links{
			padding: 5rem 3rem 0rem 1.5rem;
			display: flex;
			flex-direction: column;
		}
		.link-right-div{
			width: 100%;
			height: 100%;
			background-color: #A89E9E;

		}

/*   F O O T E R   */
footer{
	width: 100%;
	height: 8%;
	color: #000;
	font-weight: 500;
	font-family: Inter Tight;

	display: flex;
	justify-content: center;
    align-items: center;
}