<!DOCTYPE html>
<html class="html" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style-add-info.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="../static/js/other.js"></script>
    <title>Charts.create</title>
</head>
<body>
    <!--   N A V    B A R    -->
    <nav>
        <div class="logo">
            <img src="../static/charts.logo.png">
        </div>  
        <div class="end-navbar-div">
            <div class="logout-btn">
                <input type="button" id="btn" value="Sair">
            </div>
            <div class="user-img" id="">  
            </div>
        </div>
    </nav>
    
    <!--   N A V    B A R      H R   -->
    <div class="navbar-divide-hr"></div>

    <!--   P O P - U P   D O   P E R F I L   -->
    <div class="config-popup">
        <a href="/home/home.html">Home</a>
        <a href="/editarperfil/editarperfil.html">Meu perfil</a>
        <a href="#">Minhas charts</a>
        <a href="/adicionarinfo/adicionarinfo.html">Responder perguntas</a>
        <a href="#">Modo escuro</a>
    </div>

    <!--   M A I N   -->
    <main>
        <aside>
            <span>
                Você quer contribuir para o Charts?
            </span>
            <span class="margin-span">
                Só responda as perguntas e clique em “salvar” que essas informações irão ser contabilizadas por nós.
            </span>
            <span>             
                Eu sei que é muita coisa 😅 
            </span>
            <span>
                Complete aos poucos s2
            </span>
        </aside>


    <!--   S E C T I O N  -->
        <section>
            <form action="/inserir-info" method="post" class="inner-section-div">
                <div class="left-inner-section-div">
                    <div class="add-info-div">
                        <span>
                            Qual seu animal favorito?
                        </span>
                        <div class="add-info-input-div">
                            <input  name="animal"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual sua musica favorita?
                        </span>
                        <div class="add-info-input-div">
                            <input name="musica"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual sua cor favorita?
                        </span>
                        <div class="add-info-input-div">
                            <input name="cor"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual sua idade?
                        </span>
                        <div class="add-info-input-div">
                            <input name="idade"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Quanto voce tem de altura (ex: "1,60")?
                        </span>
                        <div class="add-info-input-div">
                            <input name="altura"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você já saiu do país?
                        </span>
                        <div class="add-info-input-div">
                            <input name="pais"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você já saiu do estado?
                        </span>
                        <div class="add-info-input-div">
                            <input name="estado"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você trabalha?
                        </span>
                        <div class="add-info-input-div">
                            <input name="trabalha"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Quantos livros já leu esse ano?
                        </span>
                        <div class="add-info-input-div">
                            <input name="livro_ano"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual seu filme favorito?
                        </span>
                        <div class="add-info-input-div">
                            <input name="filme"type="text">
                        </div>
                    </div>
                </div>
                <div class="right-inner-section-div">
                    <div class="add-info-div">
                        <span>
                            Qual seu genero de filme favorito?
                        </span>
                        <div class="add-info-input-div">
                            <input name="filme_genero"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual seu genero de musica favorito?
                        </span>
                        <div class="add-info-input-div">
                            <input name="musica_genero"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual a cor dos seus olhos?
                        </span>
                        <div class="add-info-input-div">
                            <input name="olhos"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você está em um relacionamento romântico no momento?
                        </span>
                        <div class="add-info-input-div">
                            <input name="relacionamento"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você tem animal de estimação??
                        </span>
                        <div class="add-info-input-div">
                            <input name="pet"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual o melhor animal de estimação na sua opinião?
                        </span>
                        <div class="add-info-input-div">
                            <input name="melhor_pet"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Nosso site está sendo interessante?
                        </span>
                        <div class="add-info-input-div">
                            <input name="interessante"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Quantas refeições você já fez hoje?
                        </span>
                        <div class="add-info-input-div">
                            <input name="refeicoes"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Como você veio até este evento? (Diga só o meio. Ex: "Onibus","A pé")
                        </span>
                        <div class="add-info-input-div">
                            <input name="transporte"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Sua casa tem quantos quartos?
                        </span>
                        <div class="add-info-input-div">
                            <input name="quartos"type="text">
                        </div>
                    </div>
                </div>
            
            <div class="alter-btn">
                <input type="submit" id="btn" value="Salvar">
            </div>
        </form>
        </section>
    </main>

</body>
</html>