{% extends 'base.html' %}
{%block content%}
    <!--   M A I N   -->
    <main>
        <aside class="addinfo-aside">
            <span >
                Você quer contribuir para o Charts?
            </span>
            <span class="margin-span">
                Só responda as perguntas e clique em “salvar” que essas informações irão ser contabilizadas por nós.
            </span>
            <span>             
                Eu sei que é muita coisa 😅 
            </span>
            <span>
                Complete aos poucos s2
            </span>
        </aside>


    <!--   S E C T I O N  -->
        <section class="addinfo-section">
            <form action="/inserir-info" method="post" class="inner-section-div">
                <div class="left-inner-section-div">
                    <div class="add-info-div">
                        <span>
                            Qual seu animal favorito?
                        </span>
                        <div class="add-info-input-div">
                            <input  name="animal"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual sua musica favorita?
                        </span>
                        <div class="add-info-input-div">
                            <input name="musica"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual sua cor favorita?
                        </span>
                        <div class="add-info-input-div">
                            <input name="cor"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual sua idade?
                        </span>
                        <div class="add-info-input-div">
                            <input name="idade"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Quanto voce tem de altura (ex: "1,60")?
                        </span>
                        <div class="add-info-input-div">
                            <input name="altura"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você já saiu do país?
                        </span>
                        <div class="add-info-input-div">
                            <input name="pais"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você já saiu do estado?
                        </span>
                        <div class="add-info-input-div">
                            <input name="estado"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você trabalha?
                        </span>
                        <div class="add-info-input-div">
                            <input name="trabalha"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Quantos livros já leu esse ano?
                        </span>
                        <div class="add-info-input-div">
                            <input name="livro_ano"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual seu filme favorito?
                        </span>
                        <div class="add-info-input-div">
                            <input name="filme"type="text">
                        </div>
                    </div>
                </div>
                <div class="right-inner-section-div">
                    <div class="add-info-div">
                        <span>
                            Qual seu genero de filme favorito?
                        </span>
                        <div class="add-info-input-div">
                            <input name="filme_genero"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual seu genero de musica favorito?
                        </span>
                        <div class="add-info-input-div">
                            <input name="musica_genero"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual a cor dos seus olhos?
                        </span>
                        <div class="add-info-input-div">
                            <input name="olhos"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você está em um relacionamento romântico no momento?
                        </span>
                        <div class="add-info-input-div">
                            <input name="relacionamento"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Você tem animal de estimação??
                        </span>
                        <div class="add-info-input-div">
                            <input name="pet"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Qual o melhor animal de estimação na sua opinião?
                        </span>
                        <div class="add-info-input-div">
                            <input name="melhor_pet"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Nosso site está sendo interessante?
                        </span>
                        <div class="add-info-input-div">
                            <input name="interessante"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Quantas refeições você já fez hoje?
                        </span>
                        <div class="add-info-input-div">
                            <input name="refeicoes"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Como você veio até este evento? (Diga só o meio. Ex: "Onibus","A pé")
                        </span>
                        <div class="add-info-input-div">
                            <input name="transporte"type="text">
                        </div>
                    </div>
                    <div class="add-info-div">
                        <span>
                            Sua casa tem quantos quartos?
                        </span>
                        <div class="add-info-input-div">
                            <input name="quartos"type="text">
                        </div>
                    </div>
                </div>
            
            <div class="alter-btn">
                <input type="submit" id="btn" value="Salvar">
            </div>
        </form>
        </section>
    </main>
    {%endblock%}