{% extends 'base.html' %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <!--   M A I N   -->
    <main>
        <section class="chart-section">
            <div class="inner-span-section-div">
                <span>
                    {{chart_tittle}}! 🤗
                </span>
            </div>

            <div class="inner-content-section-div">
                <div class="main-charts-section" id="chart">
                    <script>
                        // Obter as visualizações JSON dos gráficos do Flask
                        var chart = {{ pie_chart_json | safe }};
               
                       // Renderizar os gráficos usando Vega-Embed
                       vegaEmbed('#chart', chart).catch(console.error);
                   </script>  
                </div>
            </div>
        </section>


        <aside class="chart-aside">

            <div class="inner-info-aside-div">
                <div class="info-aside-div">
                    <!--   CRIADOR   -->
                    <div class="author-div">
                        <div class="author-div-span">
                            <span>Criador da chart:</span> 
                        </div>
                        <span>%{{chart_author}}</span>
                    </div>

                    <!--   DATA DE CRIACAO   -->
                    <div class="date-div">
                        <div class="date-div-span">
                            Data:
                        </div>
                        <span>{{chart_creation}}</span>
                    </div>

                    <!--   DESCRIÇÃO   -->
                    <div class="desc-div">
                        <div class="desc-div-span">
                            Descrição:
                        </div>
                        <div class="desc-div-content">
                            {{chart_description}}
                        </div>
                    </div>

                    <!--   TOPICOS   -->
                    
                    <div class="topic-div">
                        <div class="topic-div-span">
                            Tópicos relacionados:
                        </div>
                        <div class="topic-div-content">
                             <ul>
                                    <li>{{chart_topic}}</li>
                                    <li>{{chart_topic2}}</li>

                             </ul>
                        </div>
                    </div>

                    
                    
                </div>
            </div>
        </aside>
        
    </main>

{%endblock%}