{% extends 'base.html' %}
{%block content%}
    <!--   M A I N   -->
    <main>
            <section class="create-chart-section">
            
            <!--   P A R T E   E S Q U E R D A   D O   F O R M U L Á R I O   -->
            <div class="left-inner-section-div">
                <!--   S P A N   -->
                <div class="left-inner-section-div-span">
                    <span>NOVA CHART ✏️</span>
                </div>
                <!--   T I T L E   -->
                <div class="input-title">
                    <span>Título</span>
                    <form action="/inserir-chart" method="POST">

                    <input name = "txttitulo" type="text" placeholder="Coloque o título da sua Chart aqui.">
                </div>

                <!--   D A T A   D A   C H A R T   -->
                <div class="input-date">
                    <span class="input-date-span">Data</span>
                    <input name="txtdata"type="date" id="input-date">
                    <div class="today-date-checkbox">
                        <input name="datanow" id="checkbox-date" type="checkbox">
                        <span>Usar a data de hoje</span>
                    </div>
                </div>
                <!--   D E S C R I Ç Ã O   -->
                <div class="input-description">
                    <span>Descrição &#40;Limite: 1000&#41;</span>
                    <textarea name="txtdescricao" maxlength="1000"></textarea>
                </div>
            </div>
            <!--   P A R T E   D I R E I T A   D O   F O R M U L Á R I O   -->
            <div class="right-inner-section-div">
                <!--   S P A N   -->
                <div class="right-inner-section-div-span">
                    <span>Agora você vai por a mão na massa e escolher quais tópicos vão ser correlacionados para criar sua Chart
                    </span>
                    
                </div>

                <!--   D I V S   D O S    S E L E C T S   -->
                <div class="select-div">

                    <!--   P R I M E I R O   I N P U T   -->
                    <div class="input-first">
                        <span>1° tópico</span>
                        <div class="select-btn-group">
                            <select name="first-select" id="first-select">
                                <option value="">Selecione um tópico...</option>

                                {%for topic in topics%}
                                <option value="{{topic}}">{{topic}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>

                    <!--   S E G U N D O   I N P U T   -->
                    <div class="input-second">
                        <span>2° tópico</span>
                        <div class="select-btn-group">
                            <select name="second-select" id="second-select">

                                <option value="">Selecione um tópico...</option>
                                <option value="simple">Chart simples...</option>
                                {%for topic in topics%}
                                <option value="{{topic}}">{{topic}}</option>
                                {%endfor%}
                            </select>
                        <div id="togglePlusBtn1">
                            <span class="icon"><i class="fa fa-plus"></i></span>
                        </div>
                        </div>
                        <div class="if-select">
                            <select name="second-if-select" id="second-if-select">
                                <option value="">Selecione um tópico...</option>
                        
                            </select>
                        </div>
                    </div>

                    <!--   T E R C E I R O   I N P U T   -->
                    <div class="input-third">
                        <span>3° tópico</span>
                        <div class="select-btn-group">
                            <select name="third-select" id = "third-select">
                            </select>
                        <div id="togglePlusBtn2">
                            <span class="icon"><i class="fa fa-plus"></i></span>
                        </div>
                        </div>
                    </div>

                    <!--   Q U A R T O   I N P U T   -->
                    <div class="input-fourth">
                        <span>4° tópico</span>
                        <div class="select-btn-group">
                            <select id = "fourht-select">
                                <option value="">Selecione um tópico...</option>
                                {%for topic in topics%}
                                <option value="{{topic}}">{{topic}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                </div>
 
            </div>
            <div class="create-btn">
                <input type="submit" id="btn" value="CRIAR">
            </form>
        </div>
        </section>
        </form>
        
        
    </main>

</body>
<script>
    $(document).ready(function () {
            // Event listener para mudanças no segundo select
        $("#second-select").on("change", function () {
        var selectedValue = $(this).val();
        var thirdSelect = $("#second-if-select");

        // Limpa as opções anteriores do terceiro select
        thirdSelect.empty();

        // Com base na seleção do segundo select, atualiza as opções do terceiro select
        if (selectedValue === "Numero do calçado") {
                // Se "cor de cabelo" estiver selecionado, adicione as opções correspondentes
            {%for topic in sub_topic[0]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}
        } else if (selectedValue === "Animal Favorito") {
            {%for topic in sub_topic[1]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}
        } else if (selectedValue === "Estado em que mora"){
           {%for topic in sub_topic[2]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Cor Favorita"){
           {%for topic in sub_topic[3]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Idade"){
           {%for topic in sub_topic[4]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Como veio"){
           {%for topic in sub_topic[5]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Tem pet"){
           {%for topic in sub_topic[6]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Musica Favorita"){
           {%for topic in sub_topic[7]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Já saiu do país"){
           {%for topic in sub_topic[8]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Metros de Altura"){
           {%for topic in sub_topic[9]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Quantidade de livros lidos esse ano"){
           {%for topic in sub_topic[10]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        }
        else if (selectedValue === "Cor do Cabelo"){
           {%for topic in sub_topic[11]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Já saiu do estado"){
           {%for topic in sub_topic[12]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Está trabalhando"){
           {%for topic in sub_topic[13]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Filme Favorito"){
           {%for topic in sub_topic[14]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Genero de Musica"){
           {%for topic in sub_topic[15]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Genero de Filme"){
           {%for topic in sub_topic[16]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Cor dos olhos"){
           {%for topic in sub_topic[17]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Relacionamento romantico"){
           {%for topic in sub_topic[18]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Melhor animal de estimação"){
           {%for topic in sub_topic[19]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        }  
        else if (selectedValue === "Achou o site interessante"){
           {%for topic in sub_topic[20]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Quantidade de quartos em casa"){
           {%for topic in sub_topic[21]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Quantidade de refeições no dia"){
           {%for topic in sub_topic[22]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "País em que mora"){
           {%for topic in sub_topic[23]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else if (selectedValue === "Cidade em que mora"){
           {%for topic in sub_topic[24]%}
                
                thirdSelect.append('<option value="{{topic}}">{{topic}}</option>');

            {%endfor%}

        } 
        else {
                // Se nenhuma opção válida estiver selecionada, exiba uma opção padrão
                thirdSelect.append('<option value="">Selecione um tópico...</option>');
        }
        });
    });
</script>
{%endblock%}