{% extends 'base_no_footer.html' %}
{%block content%}

<main class="changeemail-main">
    <aside class="alter-profile-image">
        <div class="btn-div" id="goBack">
            <span>⬅️</span>
        </div>
    </aside>

    <section class="changeemail-section">
        <div class="top-inner-section-div">
            <div class="top-inner-section-div-span">
                <span>
                    Se você quer trocar seu e-mail, precisamos confirmar se você lembra o anterior.
                </span>
            </div>



            <div class="input-div">
                <div class="input-div-span">
                    <span>
                        E-mail:
                    </span>
                </div>

                <div class="input-inner-div">
                    <input type="text">
                </div>
                
            </div>
            <div class="alter-btn">
                <input type="button" class="alterBtn" id="btn" value="Confirmar">
            </div>


        </div>

        <div class="low-inner-section-div">
            <div class="low-inner-section-div-span">
                <span>
                    Muito bem! Coloque seu e-mail novo e confirme-o logo em seguida.
                </span>
                <span>
                    Você finalmente terá trocado seu e-mail.
                </span>
            </div>
            <div class="input-div">
                <div class="input-div-span">
                    <span>
                        Novo E-mail:
                    </span>
                </div>
                <div class="input-inner-div">
                    <input type="text">
                </div>
            </div>
            <div class="input-div">
                <div class="input-div-span">
                    <span>
                        Confirmar novo E-mail:
                    </span>
                </div>
                <div class="input-inner-div">
                    <input type="text">
                </div>
            </div>
            <div class="alter-btn">
                <input type="button" id="btn" value="Alterar">
            </div>
        </div>
    </section>
</main>
{%endblock%}