<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style-global.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../static/js/other.js"></script>
    <link rel="shortcut icon" type="imagex/png" href="/static/donut-chart.png">
    <title>Charts.br</title>
</head>
<body class="main-grid-body" id="main-grid-body">
    <div class="loading-page">
        <div>
            <img src="/static/donut-chart.png">
        </div>
    </div>
    <div class="error-popup">
        <div class="error-popup-div" style="visibility: {{visible}};">
            <span>{{error}}</span>
            <div class="error-btn-div">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
        </div>
    </div>

    <!-- -->
    <aside class="disclaimer-register">
        <div class="disclaimer-text">
            <div class="disclaimer-upper-text">
                <span>Oi! 👋 Sejam bem-vindos!</span>
                <span>Este é o charts.br, site que tem como objetivo armazenar dados dos usuários para que possam ser feitos diversos tipos de diagramas, gráficos sobre temas diversos.</span>
                <span>Quer saber quantas pessoas ruivas gostam de Rock no Brasil? Aqui você pode achar esta informação.</span>
            </div>
            <div class="disclaimer-lower-text">
                <span>Sobre as suas informações no site:</span>
                <span>O charts não tem pretenção de cobrar por nenhum de seus serviços e nem de pedir algum tipo de informação pessoal comprometedora do usuários (RG, CPF, Número de cartão)</span>
                <span>Todas as informações que os usuários preencherem no site irão ser anexadas ao seu perfil e usadas para os gráficos acerca de cada tópico</span>
            </div>
        </div>
        <div class="disclaimer-source-text">
            <span class="GitHub">Nosso código é OpenSource e <a href="#">disponível no GitHub.</a></span>
        </div>
    </aside>
    <main class="main-start">
        <div class="start">
            <div class="div-start-button">
                <input value="Começar!" type="button" id="btn-register">
            </div>
            <div class="login-portal">
                <a id="btn-login" href="#">Já tenho uma conta.</a>
            </div>
        </div>
        <div class="registration-div">
            <form action="/registrar" method="POST">
                <div class="inner-registration-div">
                    <div class="input-group-left">
                        <div class="div-input">
                            <span>Nome de usuário</span>
                            <input name="txtusuario" required="" type="text">
                        </div>
                        <div class="div-input">
                            <span>Nome inteiro</span>
                            <input name="txtnome" required="" type="text">
                        </div>
                        <div class="div-input">
                            <span>E-mail</span>
                            <input name="txtemail" required="" type="text">
                        </div>
                        <div class="div-input">
                            <span>Senha</span>
                            <input name="txtsenha" required="" type="password">
                        </div>
                        <div class="div-input">
                            <span>Confirmar senha</span>
                            <input name="txtsenhaconf" required="" type="password">
                        </div>
                    </div>
                    
                    <div class="input-group-right">
                        <div class="div-input">
                            <span>País onde mora</span>
                            <input name="txtpais" required="" type="text">
                        </div>
                        <div class="div-input">
                            <span>Estado onde mora</span>
                            <select name="txtestado">
                                <option>Selecione...</option>
                                <option>Acre</option>
                                <option>Alagoas</option>
                                <option>Amapá</option>
                                <option>Amazonas</option>
                                <option>Bahia</option>
                                <option>Ceará</option>
                                <option>Distrito Federal</option>
                                <option>Espírito Santo</option>
                                <option>Goiás</option>
                                <option>Maranhão</option>
                                <option>Mato Grosso</option>
                                <option>Mato Grosso do Sul</option>
                                <option>Minas Gerais</option>
                                <option>Pará</option>
                                <option>Paraíba</option>
                                <option>Paraná</option>
                                <option>Pernambuco</option>
                                <option>Piauí</option>
                                <option>Rio de Janeiro</option>
                                <option>Rio Grande do Norte</option>
                                <option>Rio Grande do Sul</option>
                                <option>Rondônia</option>
                                <option>Roraima</option>
                                <option>Santa Catarina</option>
                                <option>São Paulo</option>
                                <option>Sergipe</option>
                                <option>Tocantins</option>
                            </select>  
                        </div>
                        <div class="div-input">
                            <span>Cidade onde mora</span>
                            <input name="txtcidade" required="" type="text">
                        </div>
                        <div class="div-input">
                            <span>Cor do cabelo</span>
                            <input name="txtcorcabelo" required="" type="text">
                        </div>
                        <div class="div-input">
                            <span>Número do calçado</span>
                            <input name="txtcalcado" required="" type="text">
                        </div>
                    </div>
                    </div>
                    <div class="btn-div">
                        <input value="Confirmar" type="submit" id="btn">
                        <span>Já tem uma conta?</span><a id="R_anchor" href="#">Entre aqui.</a>
                    </div>
    
            </form>
        </div>
        <div class="login-div">
            <form action="/logar" method="POST">
    
                    <div class="inner-login-div">
                        <div class="div-input 1">
                            <span>Usuário</span>
                            <input name="txtusuariologin" required="" type="text">
                        </div>
                        <div class="div-input 4">
                            <span>Senha</span>
                            <input name="txtsenhalogin" required="" type="password">
                        </div>
                    </div>
                    <div class="btn-div">
                        <input value="Confirmar" type="submit" id="btn">
                        <span>Não tem uma conta?</span> <a id="L_anchor" href="#">Crie aqui.</a>
                    </div>
            </form>
           
        </div>
    </main>

</body>
</html>