<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="static/js/index.js"></script>
    <title>charts.br</title>
</head>

<nav>
    <div class="title-charts">
        <h1>Charts BR</h1>
    </div>
    <button class="title-exit-button">
        Sair
    </button>
</nav>

<hr>


