<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style-land.css"> 
    <link rel="stylesheet" href="../static/css/style-global.css">    
    <title>Charts.Home</title>
</head>
<body>
    <!--   N A V    B A R    -->
    <nav>
        <div class="logo">
            <img src="../static/charts.logo.png">
        </div>  
        <div class="end-navbar-div">
            <div class="username">
                {{user_name}}
            </div>
            <div class="logout-btn">
                <form action="/logout" method="POST">
                    <input type="submit" id="btn" value="Sair">
                </form>
            </div>
            
            <div class="user-img">  
            </div>
        </div>
    </nav>



    <!--   N A V    B A R      H R   -->
    <div class="navbar-divide-hr"></div>



    <!--   M A I N   -->
    <main>
        
        <!--   BUTTON SECTION    -->
        <section class="main-btn-section">

            <!--   CREATE CHART BUTTON    -->
            <div class="new-chart">
                <div class="new-chart-btn">
                    <span>CRIE SUA CHART</span>
                </div>
            </div>

            <!--   ADD INFO BUTTON    -->
            <div class="answer-chart">
                <div class="answer-chart-btn">
                    <span>ADICIONE<br>INFORMAÇÕES</span>
                </div>
            </div>
        </section>



        <!--   CHART LINKS SECTION    -->
        <section class="main-charts-section">
            <!--   LEFT    -->
            <div class="left-charts-links">
                <div>
                    <span>Charts mais relevantes da semana</span>
                </div>
                <div class="link-left-div">
                    {%for title in titles%}
                    <a href="{{ url_for('chart_page', title=title) }}">{{title}}</a>
                    {%endfor%}
                </div>
            </div>

            <!--   MIDDLE    -->
            <div class="middle-charts-links">
                <div>
                    <span>Charts mais recentes</span>
                </div>
                <div class="link-middle-div">
                    {%for title in titles%}
                    <a href="{{ url_for('chart_page', title=title) }}">{{title}}</a>
                    {%endfor%}
                </div>
            </div>

            <!--   RIGHT    -->
            <div class="right-charts-links">
                <div>
                    <span>Charts preferidas dos ADMs</span>
                </div>
                <div class="link-right-div">
                    {%for title in titles%}
                    <a href="{{ url_for('chart_page', title=title) }}">{{title}}</a>
                    {%endfor%}
                </div>
            </div>
        </section>
    </main>

    <!--   F O O T E R   -->
    <footer>
        <span>
            Todos os direitos reservados ao TIN3A &copy;.
        </span>
    </footer>
</body>
</html>