{% extends 'base.html' %}
{%block content%}
<main class="mycharts-main">
    <div class="mycharts-div">
        <div class="mycharts-div-main">
            <div class="mycharts-main-logo">
                <img src="static\charts.logo.png">
            </div>
        </div>


        <div class="mycharts-div-title">
            <span>Titulo do enzo</span>
        </div>
    </div>

    <div class="mycharts-div">
        <div class="mycharts-div-main">
            <div class="mycharts-main-logo">

            </div>
        </div>


        <div class="mycharts-div-title">
            <span>Titulo do enzo</span>
        </div>
    </div>

    <div class="mycharts-div">
        <div class="mycharts-div-main">
            <div class="mycharts-main-logo">

            </div>
        </div>


        <div class="mycharts-div-title">
            <span>Titulo do enzo</span>
        </div>
    </div>

    <div class="mycharts-div">
        <div class="mycharts-div-main">
            <div class="mycharts-main-logo">

            </div>
        </div>


        <div class="mycharts-div-title">
            <span>Titulo do enzo</span>
        </div>
    </div>

    <div class="mycharts-div">
        <div class="mycharts-div-main">
            <div class="mycharts-main-logo">

            </div>
        </div>


        <div class="mycharts-div-title">
            <span>Titulo do enzo</span>
        </div>
    </div>

    <div class="mycharts-div">
        <div class="mycharts-div-main">
            <div class="mycharts-main-logo">

            </div>
        </div>


        <div class="mycharts-div-title">
            <span>Titulo do enzo</span>
        </div>
    </div>

    <div class="mycharts-div">
        <div class="mycharts-div-main">
            <div class="mycharts-main-logo">

            </div>
        </div>


        <div class="mycharts-div-title">
            <span>Titulo do enzo</span>
        </div>
    </div>

    <div class="mycharts-div">
        <div class="mycharts-div-main">
            <div class="mycharts-main-logo">

            </div>
        </div>


        <div class="mycharts-div-title">
            <span>Titulo do enzo</span>
        </div>
    </div>

    <div class="mycharts-div">
        <div class="mycharts-div-main">
            <div class="mycharts-main-logo">

            </div>
        </div>


        <div class="mycharts-div-title">
            <span>Titulo do enzo</span>
        </div>
    </div>
</main>
{%endblock%}