{% extends 'base.html' %}
{%block content%}

<section class="no-charts-section">
    <span>
        {{message}}
    </span>
       
</section>
<main class="mycharts-main">
    
    {%for titles in chart_title%}
        <div class="mycharts-div">

            <div class="mycharts-div-main">
                <div class="mycharts-main-logo">
                </div>
            </div>
            <div class="mycharts-div-title">
                <span><a href="{{ url_for('chart_page', title=titles) }}">{{titles}}</a></span>
            </div>

        </div>
    {%endfor%}
    
</main>
{%endblock%}